main{
   top:0px;
    height: 100vh;
    background-image: url("../../../assets/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.tall{
    height: 12vh;
}
.icon-white {
    color: white !important;
  }