<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">E-learn</a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div id="navbarContent" class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/provider/profile" routerLinkActive="active" *ngIf="isAuthenticated">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/provider/create-course" routerLinkActive="active" *ngIf="isAuthenticated">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/provider/dashbord" routerLinkActive="active" *ngIf="isAuthenticated">Dashbord</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="" (click)="signOut()" *ngIf="isAuthenticated">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </header>
