<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my-courses</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#"><h3>E-learn</h3></a>
    
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="text-white navbar-toggler-icon"></span>
        </button>
    
        <div id="navbarContent" class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/student/profile" routerLinkActive="active" *ngIf="isAuthenticated">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/student/student-dashbord" routerLinkActive="active" *ngIf="isAuthenticated">Dashbord</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/student/my-courses" routerLinkActive="active" *ngIf="isAuthenticated">My Courses</a>
            </li>
            <li class="nav-item">
              
            </li>
          </ul>
          <span class="flex-d"><a class="text-white btn btn-warning p-2" routerLink="" (click)="signOut()" *ngIf="isAuthenticated"><b> Sign out</b></a></span>
        </div>
      </div>
    </nav>
    </header>
      <main>
        <div class="row mx-3" *ngIf="loading==false">
         
          <div class="col-lg-3 col-sm-6 g-4" *ngFor="let Items of myCourses.Items">
            <div class="card">
              <h5 class="card-header">{{Items.CourseDetails.title}}</h5>
              <div class="card-body">
                
                <p class="card-text">{{Items.CourseDetails.description}}</p>
                <a routerLink="/student/view-course" [state]="{Items}" class="btn btn-primary">Go to Course</a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="text-center mt-5">
          <div class="border">
          <h3>Online learning</h3>
          <p>all rights are reserved  copyright@2023</p>
        </div>
      </div>
      </footer> 
    
</body>
</html>