<div class="alert alert-primary" role="alert">
    <h1>E-learn</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Teacher Login</h5>
            
            <a routerLink="/provider" class="btn btn-primary">Login</a>
            <!-- <button (click)="login()"></button> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Student Login</h5>
            
            <a routerLink="/student"  class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
    </div>
    