<div class="text-center my-5">
    <h1><strong>Welcome to online learning</strong></h1>
    </div>
    
    <div class="text-center mt-5">
        <a href="https://courses.auth.ap-northeast-1.amazoncognito.com/login?client_id=7e0vigupgmvrpi75mrj0d8vn7v&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fprovider-dashboard%2F"
            class="btn btn-primary mx-5">Log in As Course Provider</a>
        <a href="https://studentreg.auth.ap-northeast-1.amazoncognito.com/login?client_id=3l409obtql7neithtbd3tbgfqj&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2FHomepage"
            class="btn btn-primary mx-5 px-5">Log in As Student</a>
    </div>
    
    
