<header>
<nav class="bg-dark p-2" role="alert">
    <h3 class="text-white">E-learn</h3>
</nav>
</header>
<main>
<div class="tall"></div>
  <section>
    <div class="row mx-5">
      <div class="col-lg-6 col-sm-12">
        <div class="card mb-3">
          <div class="card-body text-center">
            <div>
            <h5 class="card-title mb-5">Provider Login</h5>
          </div>
          <div>
            <a routerLink="/provider/sign-in" class="btn btn-primary mx-5 my-3 px-3">Login</a>
            <!-- <button (click)="login()"></button> -->
            <a routerLink="/provider/sign-up" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <div class="card-body text-center">
            <div>
            <h5 class="card-title">Student Login</h5>
          </div>
          <div class="text-center mt-5">
            <a routerLink="/student/sign-in"  class="btn btn-primary mx-5 my-3 px-3">Login</a>
            <a routerLink="/student/sign-up" class="btn btn-primary">Register</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    </main>